{% extends "organization/base.html" %}
{% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">My Profile</h4>
            </div>

            <div class="col-sm-5 col-6 text-right m-b-30">
                <a href="{% url 'organization:edit_profile' %}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
            </div>
        </div>
        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{ organization.name }}</h3>
                                        <div class="staff-id">Organization Email : {{ organization.email }}</div>
                                        <div class="staff-msg"><a href="{% url 'organization:change_password' %}" class="btn btn-primary">Change Password</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text">{{ organization.phone }}</span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text">{{ organization.email }}</span>
                                        </li>
                                        
                                        <li>
                                            <span class="title">Address:</span>
                                            <span class="text">{{ organization.address }}</span>
                                        </li>
                                        <li>
                                            <span class="title">City:</span>
                                            <span class="text">{{ organization.city }}</span>
                                        </li>
                                        <li>
                                            <span class="title">State:</span>
                                            <span class="text">{{ organization.state }}</span>
                                        </li>
                                        <li>
                                            <span class="title">Website:</span>
                                            <a class="dropdown" href="{{ organization.website }}">Go To Website</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}